#accordionExample {
    max-width: 800px;
}

.img-accord {
    border-radius: 50%;
    max-height: 200px;
    max-width: 200px;
}

.accord-img-content{
    background-color: darkblue;
    border-radius: 10% 0 0 10%;
}

.accord-content {
    background:darkblue;
    color: cornsilk
}

.accordion-button {
    background: #464545;
    color: cornsilk;
}